*{
    padding: 0%;
    margin: 0%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    color: black;
}


/* COMIENZA EL NAVBAR */
header{
    background-color: rgb(255, 255, 255);
    display:flex ;
    justify-content: space-around;
    height: 60px;
    

}

.navbar{
    display: flex;
    
    
}

.navbar a{
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
color: black;

}

.matias h2{
    text-transform: uppercase;
    padding-top: 15px;
    margin-left: 45px;
    font-size: 30px;
}

.iconos{
   margin-top: 20px;
}

.iconos i{

    padding-right: 25px;
    margin-top: 10px;
    font-size: 18px;
    text-transform: none;
    

}

/* TERMINA EL NAVBAR */

/* COMIENZA LA SECCION INICIO */

.padre-inicio{
    background-color: #f3d92c; 
    height: 900px;
    display: flex;
    flex-direction: column;
}


.contenedor-presentacion{
    height: 800px;   
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
        
}

.carta-presentacion{

width: 600px;
margin-left: 20px;


}

.presentacion-imagen img {
   width: 400px;
   margin-bottom: 50px;
}

    
.carta-presentacion h2{
font-size: 25px;
text-transform: uppercase;
margin-bottom: 10px;
}

.carta-presentacion h1{
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 15px;
    }

.carta-presentacion p{
   font-size: 20px;
   margin-bottom: 35px;
 
   }


   .boton-trabajos{
    padding-left: 25px;
    font-size: 20px;
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 0 4px #212529;
   }

   .boton-contacto{
    margin-left: 30px;
   }

   .boton-siguiente{
    font-size: 50px;
    text-align: center;
   }

   /* TERMINA LA SECCION INICIO */ 

   /* COMIENZA LA SECCION ACERCA DE */


    .padre-acerca-de{
        
        height: 780px;
        display: flex;
	    flex-direction: column;
        justify-content: center;
    	

}

.acerca-de-color{
    background-color: #f3d92c;
    margin-top: 0px;
    padding: 3px 5px 3px 5px;
}
.conoceme-mas{
 margin-top: 15px;
 font-size: 40px;

}

.contenedor-acerca-de{
    height: 600;
    width: 1000px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;

    
   }

   .contenedor-info{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }



   .presentacion{
    width: 700px;
    height: 300px;
    margin-top: 30px;
    
    
   }

   .presentacion h3{
    font-size: 30px;
    font-weight: 800;
   }

   .presentacion span{
    font-size: 35px;
    font-weight: 800;
    
   }

   .presentacion p{
    font-size: 20px;
    line-height: 2;
   }

   .experiencia{
    width: 150px;
    height: 300px;
    margin-left: 30px;
   }

   .experiencia h3{
    margin-top: 20px;
   }

   .experiencia p{
    margin-top: 50px;
   }


   .caja-contacto{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
   }

   .caja-contacto div{
    
   }
.nombrecolor{
    color: #6c757d;
    
}

