*{
    padding: 0%;
    margin: 0%;
    
    

}

ul{
    list-style: none;
    text-decoration: none;
}

.iconos a{
    color: #6c757d;
}


.efecto{
    transition: all 0.8 linear;
}

html{
    scroll-behavior: smooth;
}

/* COMIENZA EL NAVBAR */
header{
    background-color: rgb(255, 255, 255);
    display:flex ;
    justify-content: space-around;
    height: 60px;
    font-family: 'Poppins', sans-serif;

}


.boton-siguiente{
    color: #000000 ;
}

.boton-siguiente:hover{
    transform: translateY(-10px) scale(1.50);
}
    


.navbar{
    display: flex;
    
    
}

.navbar a{
padding-left: 20px;
padding-right: 20px;
padding-top: 20px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
color: black;

}

.navbar a:hover{
    border-bottom: 5px solid #f3d92c;
}

.iconos i:hover{
    color:  rgb(59,89,152);
}

.matias h2{
    text-transform: uppercase;
    padding-top: 15px;
    margin-left: 45px;
    font-size: 30px;
}

.iconos{
   margin-top: 20px;
}

.iconos i{

    padding-right: 25px;
    margin-top: 10px;
    font-size: 18px;
    text-transform: none;
    

}

/* TERMINA EL NAVBAR */

/* COMIENZA LA SECCION INICIO */

.padre-inicio{
    background-color: #f3d92c; 
    height: 900px;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.contenedor-presentacion{
    height: 800px;   
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: center;
        
}

.carta-presentacion{

width: 600px;
margin-left: 20px;
margin-top: 80px;


}



.presentacion-imagen img {
   width: 300px;
   height: 350px;
   margin-bottom: 50px;
   margin-right: 60px;
   margin-top: 80px;
   border-radius: 50%;
   border: 10px solid #000000;

}

    
.carta-presentacion h2{
font-size: 25px;
text-transform: uppercase;
margin-bottom: 10px;
}

.carta-presentacion h1{
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 15px;
   
    }

    .carta-presentacion h3{
        font-size: 100px;
        text-transform: uppercase;
        margin-bottom: 15px;
        border-right: 8px solid #000000;
        overflow: hidden;
        }

    .carta-presentacion h3{
        animation: escribir 3s steps(10) 3,
                    parpadeo 0.5s steps(1) 3;
    }

    @keyframes escribir {
        0%{
            width: 0%;
        }
        100%{
            width: 100%;
        }
    }
    @keyframes parpadeo {
        0%,100%{
            border-color: transparent;
        }
        50%{
            border-color: #000000;
        }
        
    }

.carta-presentacion p{
   font-size: 20px;
   margin-bottom: 35px;
 
   }


   .boton-trabajos{
    padding-left: 25px;
    font-size: 20px;
    background-color: #212529;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    box-shadow: 1px 0 4px #212529;
   }

   .boton-contacto{
    margin-left: 30px;
    color: #000000;
   }

   .boton-siguiente{
    font-size: 50px;
    text-align: center;
   }

   /* TERMINA LA SECCION INICIO */ 

   /* COMIENZA LA SECCION ACERCA DE */


    .padre-acerca-de{
        
        height: 780px;
        display: flex;
	    flex-direction: column;
        justify-content: center;
    	

}

.acerca-de-color{
    background-color: #f3d92c;
    margin-top: 0px;
    padding: 3px 5px 3px 5px;
}
.conoceme-mas{
 margin-top: 15px;
 font-size: 40px;

}

.contenedor-acerca-de{
    margin: 0 auto;
    height: 600;
    width: 1000px;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    font-family: 'Poppins', sans-serif;
    
   }

   .contenedor-info{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }



   .presentacion{
    width: 700px;
    height: 300px;
    margin-top: 30px;
    
    
   }

   .presentacion h3{
    font-size: 30px;
    font-weight: 800;
   }

   .presentacion span{
    font-size: 35px;
    font-weight: 800;
    
   }

   .presentacion p{
    font-size: 20px;
    line-height: 2;

   }

   .experiencias{
    width: 150px;
    height: 300px;
    margin-left: 30px;
   }

   .experiencias h3{
    margin-top: 20px;
   }

   .experiencias p{
    margin-top: 50px;
    padding-left: 20px;

   
   }

/* Termina la seccion acerca de mi
/* comienza la seccion caja de contacto */ 
   .caja-contacto{
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
   }

  
.nombrecolor{
    color: #6c757d;
    
}

/* Termina la seccion caja de contactos */
/* comienza la seccion iconos */

.padre-seccion-iconos{
    background-color: rgb(248,249,250) ;
    height: 1000px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.contenedor-flex{
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 1200px;
   
    height: 800px;
   
    flex-direction: row;
}

.contenedor-flex div{
    width: 300px;
    height: 300px;
    margin: 7px;
    text-align: center;    
}


.contenedor-flex h4{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.contenedor-flex p{
    line-height: 1.5;
    color: #6c757d;

}

.contenedor-flex i{
    font-size: 50px;
    color: #f3d92c;
    
    
}

.servicios-info1{
    margin-top: 30px;
    background-color: #f3d92c;
    padding: 3px 5px 3px 5px;
}

.servicios-info2{
    margin-top: 15px;
 font-size: 40px;
}
/* termina la seccion iconos */
/* comienza la seccion resumen */
.padre-seccion-habilidades{
width: 100%;
height: 950px;
background-color: #ffffff;
font-family: 'Poppins', sans-serif;


}

.titulo-habilidad{
    margin-top: 30px;
    background-color: #f3d92c;
    padding: 3px 5px 3px 5px;
}

.h3-habilidad{
    margin-top: 15px;
 font-size: 40px;
 
}



.contenedor-clases-columnas{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
    
    }

    

    .columnas{
        width: 600px;
        padding-left:80px ;
    }

.columnas h2{
    font-size: 40px;
    font-weight: 200;
    padding-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.columnas h4{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
}
.columnas p{
    line-height: 1.5;
    font-size: 20px;
    color: #6c757d;
    font-weight: 100;
}

.columnas h5{
    line-height: 1.5;
    font-size: 20px;
    font-weight: 100;
    color: #6c757d;
}
.columnas hr{
    margin-top: 15px;
    margin-bottom: 15px;
}

.columnas2{
    width: 600px;
    
}

.columnas2 h2{
font-size: 40px;
font-weight: 200;
padding-bottom: 20px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.columnas2 h4{
font-size: 20px;
line-height: 1.5;
font-weight: 200;
}
.columnas2 p{
line-height: 1.5;
font-size: 20px;
color: #6c757d;
font-weight: 100;
}

.columnas2 h5{
line-height: 1.5;
font-size: 20px;
font-weight: 100;
color: #6c757d;
}
.columnas2 hr{
margin-top: 15px;
margin-bottom: 15px;
}

/* termina la mitad del resumen */
/* comienza la mitad de habilidades */


.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habilidades h2{
    margin-bottom: 30px;
}

.contenedor-habilidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1400px;
    margin-bottom: 30px;
}

.caja-habilidades{
    margin-bottom: 25px;
    width: 520px;
    margin: 0 auto;
    margin-bottom: 20px;

}
.caja-habilidades p{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
}

.porcentaje{
    float: right;
}

.caja-habilidades hr{
    background-color: #f3d92c;
    border: 1px solid #f3d92c;
    border-radius: 3px 0 0 3px;
    height: 6px;
}

.contenedor-hr{
    background-color: #dfdfdf;
    border: none;
    border-radius: 3px 3px;
    width: 514px;
    height: 8px;    
}

.diseño-web{
    width: 70%;
 }

 .html-css{
    width: 90%;
 }

 .photoshop{
width: 90%;
 }

 .javascript{
    width: 40%;
     }

.boostrap{
    width: 40%;
}

.react{
    width: 10%;

}

.habilidades a{
    color: #000000;
    border: 1px solid #212529;
    border-radius: 2px;
    padding: 15px 40px;
    border-width: 2px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
}

/* Termina la seccion habilidades */
/* comienza la seccion proyectos */

.section-portfolio{
    background-color: #f8f9fa;
    width: 100%;
    height: 1100px;
       
    
}



.sub-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sub-nav a{
    font-size: 20px;
padding-left: 20px;
padding-right: 20px;
margin-bottom: 30px;
text-decoration: none;

}

.contenedor-proyectos{
    width: 1300px;
    margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.contenedor-proyectos img{
    width: 400px;
    height: 400px;
    margin-bottom: 15px;
}

.titulo-portfolio{
    margin-top: 30px;
    background-color: #f3d92c;
    padding: 3px 5px 3px 5px;
}

.h4-portfolio{
    margin-top: 15px;
 font-size: 40px;
 margin-bottom: 20px;
}

/* Termina seccion Proyectos */
/* comienza seccion contactos */

.section-contacto{
    width: 100%;
    height: 800px;
    background-color: #f3d92c;
}

.padre-contacto{
    width: 1300;
    margin: 0 auto;
    
}

.contenedor-contacto{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

.caja-contacto1{
    width: 600px;
    height: 700px;
}

.caja-contacto2{
    width: 600px;
    height: 700px;
}

.caja-contacto1 h3{
    font-size: 40px;
    margin-top: 70px;
}

.caja-contacto1 p{
    font-size: 25px;
    margin-top: 30px;
    font-weight: 100;
    margin-bottom: 20px;
    line-height: 1.5;
}

.caja-contacto1 h4{
    font-size: 30px;
}

.iconos2{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}


.iconos2 a{
    color: #000000;
    text-decoration: none;
     font-size: 30px;
   
     margin-left: 25px;
}

.iconos2 i:hover{
    color:  rgb(59,89,152);
}


.caja-contacto2 h4{
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 40px;
}

form{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

label{
    margin: 40px 0;
}

input[type=text]{
    padding: 10px;
   font-size: 20px;
   background: none;
   border: none;
   outline: none;
   border-bottom: 1px solid #6c757d;
}

label{
    font-size: 20px;
}

textarea{
width: 100%;
resize: vertical;
padding: 10px;
height: 100px;
font-size: 20px;
background: none;
border: none;
outline: none;
border-bottom: 1px solid #6c757d;
margin-bottom: 10px;
}

.enviar{
    color:#fff ;
    font-size: 20px;
    width: 100px;
    padding: 12px 5px;
    border: 1px solid #212529;
    border-radius: 2px;
    border-width: 2px;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    background-color: #212529;
    cursor: pointer;
}



/* comienza el footer */
.section-footer{
    width: 100%;
    height: 140px;
    background-color: #000000;
}

.section-footer p{
    color: #fff;
    font-size: 25px;
    padding-top: 30px;
    padding-left: 80px;
}

.section-footer a{
    color: #f3d92c;
}
